<div class="navbar">
  <div class="flex items-center">
    <div>Atlassian logo</div>
    <app-button btnText="Features" styleClass="mx-3 hover:text-blue-700"></app-button>
    <app-button btnText="Solutions" styleClass="mx-3 hover:text-blue-700"></app-button>
    <app-button btnText="Plans" styleClass="mx-3 hover:text-blue-700"></app-button>
    <app-button btnText="Pricing" styleClass="mx-3 hover:text-blue-700"></app-button>
    <app-button btnText="Resources" styleClass="mx-3 hover:text-blue-700"></app-button>
  </div>
  <div>
    <app-button btnText="Log in" styleClass="mx-5"></app-button>
    <app-button
      btnText="Get Trello for free"
      styleClass="mx-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
    </app-button>
  </div>
</div>
