<div class="mat-grid">
  <mat-grid-list cols="3" gutterSize="16px" rowHeight="1:1" class="mat-grid1">
    <mat-grid-tile class="column today flex flex flex-col justify-start items-center">
      <div class="">
        <div class="column-title">Today</div>
        <app-card
          *ngFor="let card of todayCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="column thisweek">
      <div>
        <div class="column-title">ThisWeek</div>
        <app-card
          *ngFor="let card of thisWeekCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="column later">
      <div>
        <div class="column-title">Later</div>
        <app-card
          *ngFor="let card of laterCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
