<div class="mat-grid">
  <mat-grid-list cols="3" gutterSize="16px" class="mat-grid1">
    <mat-grid-tile>
      <div class=" column today flex flex-col w-full justify-start items-center h-full p-5">
        <div class="font-bold">Today</div>
        <app-card
          *ngFor="let card of todayCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="column thisweek flex flex-col w-full justify-start items-center h-full p-5">
        <div class="font-bold">ThisWeek</div>
        <app-card
          *ngFor="let card of thisWeekCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="column later flex flex-col w-full justify-start items-center h-full p-5">
        <div class="font-bold">Later</div>
        <app-card
          *ngFor="let card of laterCards"
          [title]="card.title"
          [subtitle]="card.subtitle"
          [description]="card.description"
          class="mb-3"
        ></app-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
